*{
    margin: 0px;
   
}
nav{
    position: fixed;
    z-index: 2;
    top: 0px;
    display: flex;
    background-color: rgb(138, 202, 224);
    font-size: large;
    width: 100%;
    gap:40%;

   
   

}
img{ 
    height: 70vh;
    width: 100%;
}
.a4{position: absolute;
    top: 200px;
    right: 650px;
font-size: 100px;
color: aliceblue;
}
.a10{
    border: 3px dashed ;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 15%;
    margin-right: 20%;
    word-spacing: 7px;
    height: 45vh;
    width: 70%;
    text-align-last: center;
}
.a11{
    text-align: center;
    font-style: italic;
    font-size: 40px;
}

.b1{
    border: 3px solid rgb(171, 171, 208);
    border-radius: 5px;
    margin: 10px;
    height: 30vh;
    position: relative;
    z-index: 1;
    
}
.b2{
    border: 3px solid rgb(171, 171, 208);
    border-radius: 5px;
    margin: 10px;
    height: 30vh;
    position: relative;
    z-index: 1;
}
.b3{
    border: 3px solid rgb(171, 171, 208);
    border-radius: 5px;
    margin: 10px;
    height: 30vh;
    position: relative;
    z-index: 1;
}
.b4{
    border: 3px solid rgb(171, 171, 208);
    border-radius: 5px;
    margin: 10px;
    height: 30vh; position: relative;
    z-index: 1;
}
.b5{
    border: 3px solid rgb(171, 171, 208);
    border-radius: 5px;
    margin: 10px;
    height: 30vh;
    position: relative;
    z-index: 1;
    
}
.b6{
    border: 3px solid rgb(171, 171, 208);
    border-radius: 5px;
    margin: 10px;
    height: 30vh;
    position: relative;
    z-index: 1;
    
}
.b7{
    border: 3px solid rgb(171, 171, 208);
    border-radius: 5px;
    margin: 10px;
    height: 30vh;
    position: relative;
    z-index: 1;
    
}
.b8{
    border: 3px solid rgb(171, 171, 208);
    border-radius: 5px;
    margin: 10px;
    height: 30vh;
    position: relative;
    z-index: 1;
    
}
.b9{
    border: 3px solid rgb(171, 171, 208);
    border-radius: 5px;
    margin: 10px;
    height: 30vh;
    position: relative;
    z-index: 1;
    
}
.b10{
    border: 3px solid rgb(171, 171, 208);
    border-radius: 5px;
    margin: 10px;
    height: 30vh;
    position: relative;
    z-index: 1;
    
}
.b11{
    border: 3px solid rgb(171, 171, 208);
    border-radius: 5px;
    margin: 10px;
    height: 30vh;
    position: relative;
    z-index: 1;
    
}
.b12{
    border: 3px solid rgb(171, 171, 208);
    border-radius: 5px;
    margin: 10px;
    height: 30vh;
    position: relative;
    z-index: 1;
    
}

a{
    text-decoration: none;
    color: rgb(6, 0, 0);
}
a:hover{
    background-color: white;
}
.a7{
    display: flex; 
}
.a8{
    display: flex;
}
.a9{display: flex;
}
.h1{
    position: absolute;
    top: 131%;
    left: 18px;
    background-color: black;
    color: white;
    z-index: 1;
    font-size: 26px;
}
.h2{
    position: absolute;
    top: 131%;
    left: 26%;
    background-color: black;
    color: white;
    z-index: 1;
    font-size: 26px;
}
.h3{
    position: absolute;
    top: 131%;
    right: 45%;
    background-color: black;
    color: white;
    z-index: 1;
    font-size: 26px;
}
.h4{position: absolute;
    top: 131%;
    right: 9.8%;
    background-color: black;
    color: white;
    z-index: 1;
    font-size: 26px;
    
}
.h5{
    position: absolute;
    top: 164%;
    left: 12px;
    background-color: black;
    color: white;
    z-index: 1;
    font-size: 26px;
}
.h6{
    position: absolute;
    top: 164%;
    left: 25.8%;
    background-color: black;
    color: white;
    z-index: 1;
    font-size: 26px;
}
.h7{
    position: absolute;
    top: 164%;
    right: 42.5%;
    background-color: black;
    color: white;
    z-index: 1;
    font-size: 26px;
}
.h8{
    position: absolute;
    top: 164%;
    right: 14.8%;
    background-color: black;
    color: white;
    z-index: 1;
    font-size: 26px;
}
.h9{
    position: absolute;
    top: 197.5%;
    left: 12px;
    background-color: black;
    color: white;
    z-index: 1;
    font-size: 26px;
}
.h10{
    position: absolute;
    top: 197.5%;
    left: 25.8%;
    background-color: black;
    color: white;
    z-index: 1;
    font-size: 26px;
}
.h11{
    position: absolute;
    top: 197.5%;
    right: 40.5%;
    background-color: black;
    color: white;
    z-index: 1;
    font-size: 26px;
}
.h12{
    position: absolute;
    top: 197.5%;
    right: 16.5%;
    background-color: black;
    color: white;
    z-index: 1;
    font-size: 26px;
}


